<% if @post.properties.key?('category') && @post.properties['category'].any? %>
<li class="tags">
  <ul>

    <% @post.properties['category'].each do |category| %>
      <% if valid_url?(category) %>
        <li>
          <span class="fa fa-user"></span>
          <% if defined?(@authors) && @authors.key?(category) %>
            <a class="u-category h-card" rel="nofollow"
                href="<%= @authors[category].properties['url'][0] %>">
              <%= @authors[category].properties['name'][0] %>
            </a>
          <% else %>
            <a class="u-category h-card" rel="nofollow"
              href="<%= category %>"><%= category %></a>
          <% end %>
        </li>
      <% elsif category.is_a?(Hash) &&
               category.key?('type') &&
               category['type'].is_a?(Array) &&
               category['type'][0] == 'h-card' %>
        <li>
          <span class="fa fa-user"></span>
          <a class="u-category h-card" rel="nofollow"
              href="<%= category['properties']['url'][0] %>">
            <%= category['properties']['name'][0] %>
          </a>
        </li>
      <% end %>
    <% end %>

    <% @post.properties['category'].each do |category| %>
      <% unless valid_url?(category) || category.is_a?(Hash) %>
        <li>
          <a href="/tags/<%= category %>">
            #<span class="p-category"><%= category %></span>
          </a>
        </li>
      <% end %>
    <% end %>

  </ul>
</li>
<% end %>