<% context_found = false %>
<% @contexts.each do |context| %>
<% if @post.cite_belongs_to_post?(context) %>
  <% context_found = true %>

<div class="context external">
  <!-- <%= context.absolute_url %> -->
  <dl class="<%= context_class(@post) %> h-cite">

    <dt>
      <span class="prefix"><%= context_prefix(@post) %></span>
      <span class="h-card p-author">
        <% if @authors.key?(context.properties['author'][0]) %>
          <% author = @authors[context.properties['author'][0]] %>
          <a class="u-url" href="<%= author.properties['url'][0] %>">
            <% if author.properties.key?('photo') %>
              <img class="u-photo" loading="lazy" alt="<%= h author.properties['name'][0] %>"
                src="<%= force_https_author_profile(author.properties['photo'][0], author.properties['url'][0]) %>">
            <% end %>
            <span class="p-name"><%= h author.properties['name'][0] %></span></a>&rsquo;s
        <% else %>
          <span class="p-name"><%= h context.properties['author'][0] %></span>
        <% end %>
      </span>
      post

      <% if context.properties.key?('name') %>
        &ldquo;<span class="p-name"><%= post_summary(context.properties['name'][0], 40) %></span>&rdquo;
      <% end %>
      on <%= host_link(context.properties['url'][0]) %>
    </dt>

    <% if context.content || context.properties.key?('photo') %>
      <% display_content = link_twitter link_urls post_summary(context.content, 250) %>
      <dd>
        <div class="e-content p-name"><%= is_tweet?(context) ? link_hashtags_twitter(display_content) : link_hashtags(display_content) %></div>
        <% if context.properties.key?('photo') && context.properties['photo'].any? %>
          <figure>
            <a href="<%= context.properties['url'][0] %>">
              <img class="u-photo" loading="lazy" src="<%= https_image context.properties['photo'][0] %>">
            </a>
          </figure>
        <% end %>
      </dd>
    <% end %>

    <% if context.properties.key?('start') && context.properties.key?('end') %>
      <dd class="metadata">
        <time class="dt-start" datetime="<%= context.properties['start'][0] %>">
          <%= Time.parse(context.properties['start'][0]).utc.strftime('%Y-%m-%d %H:%M') %>
        </time>
        &mdash;
        <time class="dt-end" datetime="<%= context.properties['end'][0] %>">
          <%= Time.parse(context.properties['end'][0]).utc.strftime('%H:%M') %>
        </time>
        <abbr title="Coordinated Universal Time">UTC</abbr>
      </dd>
    <% end %>

  </dl>
</div>

<% end %>
<% end %>

<%= context_tag(@post) unless context_found %>
