<% if @post.properties.key?('location') || @post.properties.key?('checkin') %>
  <% location = @post.properties.key?('location') ? @post.properties['location'][0] : @post.properties['checkin'][0] %>
  <li class="location">
    <% if location.is_a?(Hash) && location['type'][0] == 'h-card' %>
      <div class="p-location h-card">
        <a href="https://maps.google.com/maps?q=<%= location['properties']['latitude'][0] %>,<%= location['properties']['longitude'][0] %>">
          <span class="fa fa-map-marker"></span>
          <data class="p-latitude" value="<%= location['properties']['latitude'][0] %>"></data>
          <data class="p-longitude" value="<%= location['properties']['longitude'][0] %>"></data>
          <span class="p-name"><%= location['properties']['name'][0] %></span>
        </a>
      </div>

    <% elsif location.is_a?(String) && location.start_with?('geo:') %>
      <% geo = location.match(/^geo:(\-?[0-9\.]+),(\-?[0-9\.]+)/) %>
      <% unless geo.nil? %>
        <div class="p-location h-geo">
          <a href="https://maps.google.com/maps?q=<%= geo[1] %>,<%= geo[2] %>">
            <span class="fa fa-map-marker"></span>
            <data class="p-latitude" value="<%= geo[1] %>"></data>
            <data class="p-longitude" value="<%= geo[2] %>"></data>
            <% if @post.properties.key?('place-name') %>
              <span class="p-name"><%= @post.properties['place-name'][0] %></span>
            <% elsif @post.properties.key?('place_name') %>
              <span class="p-name"><%= @post.properties['place_name'][0] %></span>
            <% else %>
              <%= geo[1] %>, <%= geo[2] %>
            <% end %>
          </a>
        </div>
      <% end %>

    <% end %>
  </li>
<% end %>
