<% tweet = @post.properties['syndication'].to_s.scan(/twitter.com\/[A-Za-z0-9_]*\/status\/([0-9]*)/) %>
<% tweet_id = tweet.size == 1 ? tweet[0][0] : false %>

<% if tweet_id %>
<li class="actions">
  <ul>
    <li>
      <indie-action do="reply" with="<%= @post.absolute_url %>">
        <a href="https://twitter.com/intent/tweet?in_reply_to=<%= tweet_id %>"
          title="Reply"><i class="fa fa-reply"></i></a>
      </indie-action>
      <% count = @webmention_counts[@post.absolute_url][:replies] %>
      <%= count if count > 0 %>
    </li>
    <li>
      <indie-action do="repost" with="<%= @post.absolute_url %>">
        <a href="https://twitter.com/intent/retweet?tweet_id=<%= tweet_id %>"
          title="Repost"><i class="fa fa-retweet"></i></a>
      </indie-action>
      <% count = @webmention_counts[@post.absolute_url][:reposts] %>
      <%= count if count > 0 %>
    </li>
    <li>
      <indie-action do="like" with="<%= @post.absolute_url %>">
        <a href="https://twitter.com/intent/favorite?tweet_id=<%= tweet_id %>"
          title="Like"><i class="fa fa-heart"></i></a>
      </indie-action>
      <% count = @webmention_counts[@post.absolute_url][:likes] %>
      <%= count if count > 0 %>
    </li>
  </ul>
</li>
<% end %>