<div id="container">
<article class="h-entry post post-full <%= @post.properties['entry-type'][0] %>">

  <div class="h-card p-author" style="display: none;">
    <img class="u-photo" src="https://barryf.s3.amazonaws.com/barryfrost.jpg" alt="Photo of Barry Frost">
    <a class="u-url p-name" rel="author" href="https://barryfrost.com/">Barry Frost</a>
  </div>

  <%= erb :'_contexts' unless @contexts.nil? %>

  <a class="post-type" href="<%= @post.url %>">
    <%= post_type_icon(@post) %>
  </a>

  <%= erb :'_name' %>

  <% if !@post.content.nil? %>
    <div class="content">
      <div class="e-content<% unless @post.properties.key?('name') %> p-name<% end %>"
        ><%= filter_all filter_markdown @post.content %></div>
      <%= erb :'_photos' %>
    </div>
  <% end %>

  <% if @post.properties.key?('summary') and !@post.properties['summary'][0].empty? %>
    <data class="p-summary" value="<%= h @post.properties['summary'][0] %>"></data>
  <% end %>

  <% if @post.properties['entry-type'][0] == 'rsvp' %>
    <data class="p-rsvp" value="<%= @post.properties['rsvp'][0] %>"></data>
  <% end %>

  <ul class="metadata">
    <%= erb :'_timestamp' %>
    <%= erb :'_indie_actions' %>
    <%= erb :'_categories' %>
    <%= erb :'_location' %>
    <%= erb :'_syndications' %>
  </ul>

  <%= erb :'_webmentions' unless @webmentions.nil? %>

</article>
</div>

<%= erb :'_sources' %>
