<!--
<% if @show_announcement %>
  <div style="max-width: 640px; margin: 0 auto 80px auto; padding: 15px 20px; 
              background: #fff; border-radius: 15px; border: #ddddda solid 1px;">
    <p>
      <span class="fa fa-bullhorn" style="font-size: 120%;"></span>&nbsp;
      I&rsquo;m looking for a CTO or similar technology leadership role in South-West/Central London or the Thames Valley area. Take a look at my <a href="http://www.linkedin.com/in/barryfrost">LinkedIn profile</a> or <a href="/contact">get in touch</a> to talk.
    </p>
  </div>
<% end %>
-->

<div id="container" class="h-feed">

  <div class="h-card p-author" style="display: none;">
    <img class="u-photo" src="/barryfrost.jpg" alt="Barry Frost">
    <a class="u-url" rel="author" href="https://barryfrost.com/">Barry Frost</a>
  </div>

  <% if @page_title %>
    <div class="title p-name"><%= @page_title %></div>
  <% else %>
    <div class="p-name" style="display: none;">
      <% if @title %><%= @title %> &middot; <% end %>Barry Frost
    </div>
  <% end %>

<% @posts.each do |post| %>
<% @post = post %>
<article class="h-entry post post-summary <%= @post.properties['entry-type'][0] %>">

<% if @post.is_deleted? %>
  <a class="post-type" href="<%= @post.url %>">
    <i class="fa fa-ban"></i>
  </a>
  <%= erb :'_deleted' %>
<% else %>

  <%= erb :'_contexts' unless @contexts.nil? %>

  <a class="post-type" href="<%= @post.url %>">
    <%= post_type_icon(@post) %>
  </a>

  <%= erb :'_name' %>

  <% if !@post.content.nil? %>
    <div class="content">
      <div class="e-content<% unless @post.properties.key?('name') %> p-name<% end %>"
        ><%= post_split filter_all filter_markdown @post.content %></div>
      <%= erb :'_photos' %>
    </div>
  <% end %>

  <% if @post.properties['entry-type'][0] == 'rsvp' %>
    <data class="p-rsvp" value="<%= @post.properties['rsvp'][0] %>"></data>
  <% end %>

  <ul class="metadata">
    <%= erb :'_timestamp' %>
    <%= erb :'_webmention_counts' %>
    <%= erb :'_categories' %>
    <%= erb :'_location' %>
    <%= erb :'_syndications' %>
  </ul>

<% end %>

</article>
<% end %>

  <% if @posts_rows.respond_to?(:total_pages) %>
    <%= will_paginate @posts_rows,
      previous_label: "<i class=\"fa fa-chevron-left\"></i> Newer",
      next_label: "Older <i class=\"fa fa-chevron-right\"></i>",
      page_links: false %>
  <% end %>
</div>
